



					<section class="view_wrapper">
						<div class="container">
					<div class="jumbotron">
						<div class="container">
					      <div ng-controller="PageDetalleController">


					      		<div align="center">
					      			<h1>{{itemDetalle.title}}</h1>
						 		<img ng-src="http://172.28.13.120/{{itemDetalle.photo}}">

						 				
						 		
						 		</div>
						 		<div clas="container" align="center" > 
								<h3 ng-click="comentarioDetalle=1">COMENTARIOS .... </h3>


						      </div>
						      </div>
					</div>
					</div>


					</section>