



					<section class="view_wrapper">
						<div class="container">
					<div class="jumbotron">
						<div class="container">
					      <div ng-controller="PageDetalleController">


					      		<div align="center">
					      			<h1>{{itemDetalle.title}}</h1>
						 		<img ng-src="http://172.28.13.120/{{itemDetalle.photo}}">

						 				
						 		
						 		</div>
						 		<div clas="container" align="center" > 
								<h3 ng-click="comentarioDetalle=1">COMENTARIOS .... </h3>
						       <!--
						       	<div ng-show="comentarioDetalle==1">
						        <md-toolbar class="md-theme-light">
						          <h2 class="md-toolbar-tools">
						           
						          </h2>
						        </md-toolbar>
						        <md-content>
						          <md-list>
						            <md-list-item class="md-3-line" ng-repeat="item in items2">
						              <img ng-src="{{item.photo}}" class="face" alt="{{item.photo}}">
						              <div class="md-list-item-text">
						                <h3>{{item.title}}21312</h3>
						                <h4>{{item.who}}</h4>
						                <p>{{item.id}}</p>
						              </div>
						              <md-divider md-inset ng-if="!$last"></md-divider>
						            </md-list-item>
						          </md-list>
						        </md-content>
							</div>
-->

						      </div>
						      </div>
					</div>
					</div>


					</section>