@charset "utf-8";
/**
* @description	Standard Layout
* @author		Nombre_programador
* @version		1.0
*/

body{

	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
}


.grid-item { 
	float: left;
	width: 222px; 
	height: 350px;
	border: 1px solid red;
}
.grid-item--width2 { 
	width: 50%; 
}