@charset "utf-8";
/**
* @description	Standard Layout
* @author		Nombre_programador
* @version		1.0
*/

body{

	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
}


.grid-item { 
	float: left;
	width: 222px;
	height: 350px;
	margin: 5px 5px;
	overflow: hidden;
	box-shadow: 0px 0px 6px -1px rgba(128, 172, 216, 0.5);
	border: 1px solid #D2DAE2;
	border-radius: 5px;
	padding: 10px;
}
.grid-item--width2 { 
	width: 50%; 
}
.grid-item{

}
.grid-item img{
	width: 100%;
	max-width: 
}