



					<section class="view_wrapper">
					
							<div class="container">
						<form class="form_pub" action="http://172.28.13.120/cazaofertas/public/index.php/offer" method="POST" enctype="multipart/form-data">
							  <div class="form-group" ng-model="post.title">
							    <label for="exampleInputEmail1">Titulo</label>
							    <input class="form-control" name="title" id="Descripción" placeholder="Ingresar titulo">
							  </div>
							  <div class="form-group" ng-model="post.description">
							    <label for="exampleInputPassword1">Descripción</label>
							    <input  class="form-control" name="description" id="Descripción" placeholder="Ingresar Descripción">
							  </div>
								<div class="form-group" ng-model="post.category">
									<label for="exampleInputEmail1">Categoría</label>
									<select class="form-control"  name="category" id="category">
										<option value="electro">Electronicos </option>
										<option value="comestibles">Comestibles </option>
										<option value="ropa">Ropa </option>
									</select>
								</div>
							  <div class="form-group" ng-model="post.address">
							    <label for="exampleInputPassword1">Dirección</label>
							    <input type="text" class="form-control" name="address" id="Dirección" placeholder="Ingresar Dirección">
							  </div>
	  						<div class="form-group" ng-model="post.address">
							    <label for="exampleInputPassword1">Dirección</label>
							    <input type="file" name="photo" id="fileToUpload">
							  </div>


<!--
							  <div class="form-group">
							    <label for="subirArchivo">Subir Archivo</label>
							    <input type="file" id="subirArchivo">
							  
							  </div>
							  -->
							  <button ng-click="postNewItem();" type="button" class="btn btn-default">Enviar</button>
							</form>

						</div>


					</section>